@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {

  color: rgb(var(--foreground-rgb));
  background: #e5e7eb
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* Ejemplo de estilo para la paginación */
.swiper-pagination-bullet {
  background: #98FF98; /* Cambia el color de los puntos */
  width: 12px; /* Tamaño del punto */
  height: 12px; /* Tamaño del punto */
  opacity: 1; /* Opacidad del punto */
}

.swiper-pagination-bullet-active {
  background: #98FF98; /* Color del punto activo */
}